

<h1>users</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <td>id</td>
      <td>email</td>
    </tr>
  </thead>
  
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.email, user_path(user) %></td>
    <td>
      <% if current_user == user %>
      <% elsif current_user.confirmed_friends.include?(user) %>
        <%= link_to "Unfriend", destroy_friendship_path(current_user.friendships.find_by_friend_id(user.id)), :method => :delete %>
      <% elsif current_user.outgoing_requested_friends.include?(user) %>
        Friend request sent!
      <% elsif current_user.incoming_requested_friends.include?(user) %>
        <%= link_to "Accept friend request", friendships_path(:friend_id => user), :method => :post %>
      <% else %>
        <%= link_to "Friend", friendships_path(:friend_id => user), :method => :post %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= render 'friend_list',
  :users => current_user.confirmed_friends,
  :msg_users_empty => "No friends",
  :caption => "Friends",
  :label_user => "Friend" %>

<%= render 'friend_list',
  :users => current_user.incoming_requested_friends,
  :msg_users_empty => "No incoming friend requests",
  :caption => "Incoming friend requests",
  :label_user => "Requestor" %>
  
<%= render 'friend_list',
  :users => current_user.outgoing_requested_friends,
  :msg_users_empty => "No outgoing friend requests",
  :caption => "Outgoing friend requests",
  :label_user => "User" %>
  
