
id: <%= @user.id %><br>
email: <%= @user.email %><br>
<br>
# wins: <%= @user.num_wins %><br>
# losses: <%= @user.num_losses %><br>

<h3>match history</h3>
<% @user.match_history.each do |stats| %>
  <div class="well">
    victory: <%= stats.victory %><br>
    time: <%= timeago_tag stats.created_at, :nojs => true, :limit => 10.days.ago %><br>
    kills: <%= stats.kills %><br>
    deaths: <%= stats.deaths %><br>
    <%= link_to "more details", game_session_path(stats.game_session) %>
  </div>
<% end %>
