<% if @game_servers.empty? %>
  no game servers found<br>
<% else %>
  <table class="table table-striped">
    <caption>Available servers</caption>
    <thead>
      <tr>
      <th>id</th>
      <th>ip address</th>
      <th># players</th>
      <th># red / blue</th>
      <th>time since start</th>
      <th>time since heartbeat</th>
      </tr>
    </thead>
    <% @game_servers.each do |server| %>
      <tr>
        <td><%= server.id %></td>
        <td><%= server.ip_address %></td>
        <td><%= server.num_players %>/<%= server.max_players %></td>
        <td><%= server.num_red_players %>/<%= server.num_blue_players %></td>
        <td><%= server.started_elapsed %></td>
        <td><%= server.heartbeat_elapsed %></td>
      </tr>
    <% end %>
  </table>
<% end %>
